header {
  flex-basis: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 10;
}

h2.site-name {
  color: white;
}

button.log-in, button.register, button.log-out, button.favorites {
  padding: 8px 16px;
  background-color: white;
  font-size: 1rem;
  border-radius: 2px;
}

button.log-in, button.favorites {
  margin-right: 7px;
}

button.register, button.log-out {
  margin-left: 7px;
}
