main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

input::placeholder {
  color: #000000a1;
}

input.country, select.categorie, input.number, input.submit {
  font-family: 'Archivo Narrow';
  padding: 20px 30px;
  font-size: 1.2rem;
  background-color: #80808017;
  margin: 5px;
  border-radius: 3px;
}

input.number {
  width: 150px;
  text-align: center;
}

input.submit {
  font-family: 'Abril Fatface';
  background-color: black;
  border: 2px solid black;
  color: white;
}

input.submit:hover {
  background-color: white;
  color: black;
}
