main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-container {
  width: 60%;
  height: auto;
}

.favorite-container {
  display: flex;
  margin: 30px;
  cursor: pointer;

  p {
    font-size: 20px;
    margin-left: 10px;
  }

  svg {
    width: 20px;
    height: auto;
  
    .star {
      fill: #c5c5c5;
      transition: 0.1s;

      &.filled {
        fill: black;
      }
    }

  }
}
